{% set profile = profiles[devices[this_dev].profile] -%}
config router route-map
  edit "SLAOK"
    config rule
      edit 1
        set set-community "{{ regions[devices[this_dev].region].as }}:99"
      next
    end
  end
end
config system sdwan
  config neighbor
    {%- set ns = namespace(mbr_i = profile.dia_intf|count + 1) %}
    {%- for h in regions[devices[this_dev].region].hubs %}
    {%- for w in profile.wan_intf %}
    edit {{ devices[h].tunnel_ip[loop.index0] }}
      set member {{ ns.mbr_i }}
      set health-check "HUB"
      set sla-id 1
    next
    {%- set ns.mbr_i = ns.mbr_i + 1 %}
    {%- endfor %}
    {%- endfor %}
  end
end
config router bgp
  config neighbor
    {%- for h in regions[devices[this_dev].region].hubs %}
    {%- for w in profile.wan_intf %}
    edit {{ devices[h].tunnel_ip[loop.index0] }}
      set route-map-out-preferable "SLAOK"
    next
    {%- endfor %}
    {%- endfor %}
  end
end
