{% import 'Project' as project with context %}

config system settings
  set tcp-session-without-syn enable
end

config system interface
  {% for i in project.profiles[profile].interfaces %}
  edit "{{i.name}}"
    {% if i.ip == 'dhcp' %}
    set mode dhcp
    {%  elif i.ip %}
    set mode static
    set ip {{ i.ip }}
    {% endif %}
    {% set allowaccess = 'ping' if not i.access|default(false) else i.access %}
    set allowaccess {{ allowaccess }}
  next
  {% endfor %}
  {# Loopback for incoming health-check probes #}
  edit "Lo-HC"
    set vdom "root"
    set type loopback
    set ip {{ project.hub_hc_server|default('10.200.99.1') }}/32
    set allowaccess ping
  next
  {# Main Loopback #}
  edit "Lo"
    set vdom "root"
    set type loopback
    set ip {{ loopback }}/32
    set allowaccess ping
  next
end

{% set lan_intf = [] %}
{% if project.create_lan_zone|default(true) %}
config system zone
  edit "{{ project.lan_zone|default('lan_zone') }}"
    {% for i in project.profiles[profile].interfaces if i.role == 'lan'  %}
    {{  lan_intf.append(i.name) or "" }}
    {% endfor %}
    set interface {{ lan_intf|join(' ') }}
  next
end
{% endif %}

config system dhcp server
  {% for i in project.profiles[profile].interfaces if i.role == 'lan'  %}
  {% if i.dhcp_server|default(true) %}
  edit {{ 10 + loop.index0 }}
    set dns-service default
    set default-gateway {{ i.ip|ipaddr('address') }}
    set netmask {{ i.ip|ipaddr('netmask') }}
    set interface {{ i.name }}
    config ip-range
      edit 1
        set start-ip {{ i.ip|ipaddr(4)|ipaddr('address') }}
        set end-ip {{ i.ip|ipaddr(-5)|ipaddr('address') }}
      next
    end
  next
  {% endif %}
  {% endfor %}
end

config system settings
  set location-id {{ loopback }}
end

config system global
    set hostname {{ hostname }}
end
