{# 03-Edge-Routing.j2                                                         #}
{# Release: 7.2                                                               #}
{# Design flavor: "BGP per Overlay"                                           #}
{# -------------------------------------------------------------------------- #}
{# Disclaimer: Normally, this file is not supposed to be edited by users.     #}
{# -------------------------------------------------------------------------- #}

{% import 'Project' as project with context %}

config router bgp
  set as {{ project.regions[region].as }}
  set router-id {{ loopback|ipaddr('address') }}
  set keepalive-timer 5
  set holdtime-timer 15
  set ibgp-multipath enable
  set additional-path enable
  set additional-path-select 255
  set recursive-next-hop enable
  config neighbor
    {% for h in project.regions[region].hubs %}
    {% set hubloop = loop %}
    {% for i in project.profiles[profile].interfaces if i.role == 'wan' and i.name is defined %}
    edit {{ project.hubs[h].overlays[i.ol_type].tunnel_net|ipaddr(1)|ipaddr('address') }}
      set soft-reconfiguration enable
      set advertisement-interval 1
      set link-down-failover enable
      set interface "H{{ hubloop.index }}_{{ i.ol_type }}"
      set connect-timer 1
      set remote-as {{ project.regions[region].as }}
      set additional-path receive
    next
    {% endfor %}
    {% endfor %}
  end
  config network
    {% for i in project.profiles[profile].interfaces if i.role == 'lan' and i.name is defined and i.advertise|default(true) %}
    edit {{ loop.index }}
      set prefix {{ i.ip|ipaddr(0) }}
    next
    {% endfor %}
  end
end
