{# 04-Hub-MultiRegion.j2                                                      #}
{# Release: 7.2                                                               #}
{# Design flavor: "BGP per Overlay"                                           #}
{# -------------------------------------------------------------------------- #}
{# Disclaimer: Normally, this file is not supposed to be edited by users.     #}
{# -------------------------------------------------------------------------- #}

{% import 'Project' as project with context %}

{% set hub2hub_ol = [] %}
{% if project.regions|reject("==", region)|list|count  %}

{% for i in project.profiles[profile].interfaces if i.role == 'wan' and i.name is defined %}
  {% for r in project.regions if r != region %}
    {% for h in project.regions[r].hubs %}
      {% if i.ol_type in project.hubs[h].overlays %}
      config vpn ipsec phase1-interface
        edit "{{ r|upper }}_H{{ loop.index}}_{{ i.ol_type }}"
          set interface "{{ i.name }}"
          set ike-version 2
          {% if project.cert_auth|default(true) %}
          set authmethod signature
          set certificate "{{ project.edge_cert_template|default('Hub') }}"
          {% else %}
          set psksecret {{ project.psk|default('S3cr3t!') }}
          {% endif %}
          set keylife 28800
          set peertype any
          set proposal aes256gcm-prfsha256
          {% if project.multireg_advpn|default(false) %}
          set auto-discovery-sender enable
          set auto-discovery-receiver enable
          set auto-discovery-forwarder enable
          set add-route disable
          {% else %}
          set exchange-interface-ip enable
          {% endif %}
          set remote-gw {{ project.hubs[h].overlays[i.ol_type].wan_ip }}
          set exchange-ip-addr4 {{ loopback|ipaddr('address') }}
          set dpd-retrycount 3
          set dpd-retryinterval 5
          set dpd on-idle
        next
      end
      config vpn ipsec phase2-interface
        edit "{{ r|upper }}_H{{ loop.index}}_{{ i.ol_type }}"
          set phase1name "{{ r|upper }}_H{{ loop.index}}_{{ i.ol_type }}"
          set proposal aes256gcm
          set keepalive enable
          set keylifeseconds 3600
        next
      end
      config router policy
        edit {{ hub2hub_ol|length * 2 + 11 }}
          set input-device "EDGE_{{ i.ol_type }}"
          set output-device "{{ r|upper }}_H{{ loop.index}}_{{ i.ol_type }}"
          set dst {{ project.lan_summary }}
        next
        edit {{ hub2hub_ol|length * 2 + 12 }}
          set input-device "{{ r|upper }}_H{{ loop.index}}_{{ i.ol_type }}"
          set output-device "EDGE_{{ i.ol_type }}"
          set dst {{ project.lan_summary }}
        next
      end
      {{ hub2hub_ol.append(r|upper~'_H'~loop.index~'_'~i.ol_type) or "" }}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endfor %}

{% if project.create_hub2hub_zone|default(true) %}
config system zone
  edit "{{project.hub2hub_zone|default('hub2hub_overlay')}}"
    set interface {{ hub2hub_ol|join(' ') }}
  next
end
{% endif %}

{% if project.multireg_advpn|default(false) %}
{# Advertise overlay subnets between the regions #}
config router access-list
  edit "TUNNEL_SUBNETS"
    config rule
      edit 1
        set prefix {{ project.tunnel_summary }}
        set exact-match disable
      next
    end
  next
end
config router route-map
  edit "HUB2HUB_OUT"
    config rule
      edit 1
        {# Do not readvertise overlay subnets to Edges and other regions #}
        set match-ip-address "TUNNEL_SUBNETS"
        set set-community no-advertise
      next
      edit 100
      next
    end
  next
end
config router bgp
  config neighbor-group
    edit "EDGE"
      {# Preserve next-hop of prefixes coming from remote regions #}
      unset next-hop-self
    next
  end
  config network
    {# Local overlay subnets #}
    {% for k, v in project.hubs[hostname].overlays.items() %}
    edit {{ loop.index + 10 }}
      set prefix {{ v.tunnel_net|ipaddr(0) }}
    next
    {% endfor %}
  end
end
{% else %}
{# Advertise regional summaries between the regions #}
config router bgp
  config aggregate-address
    edit 1
      set prefix {{ project.regions[region].lan_summary }}
    next
  end
end
config router access-list
  edit "LAN_REGIONAL_SUMMARY"
    config rule
      edit 1
        set prefix {{ project.regions[region].lan_summary }}
        set exact-match enable
      next
    end
  next
end
config router route-map
  edit "HUB2HUB_OUT"
    config rule
      edit 1
        set match-ip-address "LAN_REGIONAL_SUMMARY"
        unset set-community
      next
      edit 100
        set action deny
      next
    end
  next
end
{% endif %}

config router bgp
  config neighbor
    {% for r in project.regions if r != region %}
    {% for h in project.regions[r].hubs %}
    edit {{ project.hubs[h].lo_bgp }}
      set ebgp-enforce-multihop enable
      set soft-reconfiguration enable
      set advertisement-interval 1
      set link-down-failover enable
      set interface "Lo"
      set update-source "Lo"
      set route-map-out "HUB2HUB_OUT"
      {% if project.multireg_advpn|default(false) %}
      set attribute-unchanged next-hop
      set additional-path both
      set adv-additional-path 255
      {% endif %}
      set connect-timer 1
      set remote-as {{ project.regions[r].as }}
    next
    {% endfor %}
    {% endfor %}
  end
end

{% endif %}
