{# 01-Hub-Underlay.j2                                                         #}
{# Release: 7.2                                                               #}
{# Design flavor: "BGP on Loopback" (Multi-VRF)                               #}
{# -------------------------------------------------------------------------- #}
{# Disclaimer: Normally, this file is not supposed to be edited by users.     #}
{# -------------------------------------------------------------------------- #}

{% import 'Project' as project with context %}

{% set pe_vrf = project.regions[region].pe_vrf|default(32) %}
{% set vrf_leak_summary = project.vrf_leak_summary|default('10.200.255.0/24') %}

{# General settings #}
config system settings
  set location-id {{ loopback|ipaddr('address') }}
  set tcp-session-without-syn enable  
  set allow-subnet-overlap enable
end
config system global
  {% if not project.profiles[profile].ha|default(false) and hostname is defined %}
  set hostname {{ hostname }}
  {% endif %}
end

{# Loop: Configure underlay interfaces #}
{% for i in project.profiles[profile].interfaces if i.name is defined %}
config system interface
  edit "{{i.name}}"
    {# IP #}
    {% if i.ip is defined %}
    {% if i.ip == 'dhcp' %}
    set mode dhcp
    {%  else %}
    set mode static
    set ip {{ i.ip }}
    {% endif %}
    {% endif %}

    {# VRF #}
    {% if i.vrf is defined %}
    set vrf {{ i.vrf }}
    {% else %}
    set vrf {{ pe_vrf }}
    {% endif %}

    {# VLAN #}
    {% if i.vlanid is defined and i.parent is defined %}
    set vdom "root"
    set type vlan
    set vlanid {{ i.vlanid }}
    set interface {{ i.parent }}
    {% endif %}

    {# Other settings #}
    {% if i.role == 'wan' %}
    set role wan
    {% endif %}
    {% if i.role == 'lan' %}
    set role lan
    set device-identification enable
    {% endif %}
    set allowaccess {{ 'ping' if not i.access|default(false) else i.access }}
  next
end

{# VRF Leak #}
{% if i.vrf is defined and i.allow_dia|default(false) %}
  {# Configure software vdom-link interface if model is VM #}
  {% if i.leak_npu_link|default('') == '' %}
  config system vdom-link
    edit "vrf{{ i.vrf }}_leak"
    next
  end
  config system interface
    edit "vrf{{ i.vrf }}_leak0"
      set type vdom-link
      set vrf {{ pe_vrf }}
      set vdom 'root'
      set ip {{ vrf_leak_summary|ipaddr((i.vrf * 2 + 1))|ipaddr('address') }}/31
      set allowaccess ping
    next
    edit "vrf{{ i.vrf }}_leak1"
      set type vdom-link
      set vrf {{ i.vrf }}
      set vdom 'root'
      set ip {{ vrf_leak_summary|ipaddr((i.vrf * 2))|ipaddr('address') }}/31
      set allowaccess ping
    next
  end
  {# Configure vlan interfaces on top of npu link if model is HW #}
  {% else %}
  config system interface
    edit "vrf{{ i.vrf }}_leak0"
      set type vlan
      set vlanid {{ 4000 + i.vrf }}
      set interface "{{i.leak_npu_link}}0"
      set vrf {{ pe_vrf }}
      set vdom 'root'
      set mode static
      set ip {{ vrf_leak_summary|ipaddr((i.vrf * 2 + 1))|ipaddr('address') }}/31
      set allowaccess ping
    next
    edit "vrf{{ i.vrf }}_leak1"
      set type vlan
      set vlanid {{ 4000 + i.vrf }}
      set interface "{{i.leak_npu_link}}1"
      set vrf {{ i.vrf }}
      set vdom 'root'
      set mode static
      set ip {{ vrf_leak_summary|ipaddr((i.vrf * 2))|ipaddr('address') }}/31
      set allowaccess ping
    next
  end
  {% endif %}
  {# Add a default route to pe_vrf for each vrf #}
  config router static
    edit {{ 10000 + i.vrf }}
      set gateway {{ vrf_leak_summary|ipaddr((i.vrf * 2 + 1))|ipaddr('address') }}    
      set device vrf{{ i.vrf }}_leak1
    next
  end

  {# Configure a zone for easier policy management of vrf leaking #}
  {% if project.create_vrf_leak_zone|default(true) and i.role == 'lan' %}
  config system zone
    edit "{{ project.pevrf_leak_zone|default('pevrf_leak_zone') }}"
      append interface "vrf{{ i.vrf }}_leak0"
    next
    edit "{{ project.vrf_leak_zone|default('vrfs_leak_zone') }}"
      append interface "vrf{{ i.vrf }}_leak1"
    next
  end
  {% endif %}
{% endif %}

{# End Loop: Configure underlay interfaces #}
{% endfor %}

{# Loopback for incoming health-check probes #}
config system interface
  edit "Lo-HC"
    set vdom "root"
    set type loopback
    set vrf {{ pe_vrf }}
    set ip {{ project.hub_hc_server|default('10.200.99.1') }}/32
    set allowaccess ping
  next
  {# Main Loopback #}
  edit "Lo"
    set vdom "root"
    set type loopback
    set vrf {{ pe_vrf }}
    set ip {{ loopback|ipaddr('address') }}/32
    set allowaccess ping
  next
end

{# Create LAN Zone #}
{% set lan_intf = [] %}
{% if project.create_lan_zone|default(true) %}
config system zone
  edit "{{ project.lan_zone|default('lan_zone') }}"
    {% for i in project.profiles[profile].interfaces if i.role == 'lan' and i.name is defined %}
    {{  lan_intf.append(i.name) or "" }}
    {% endfor %}
    set interface {{ lan_intf|join(' ') }}
  next
end
{% endif %}

{# Enable DHCP Server on LAN interfaces #}
{% if project.create_lan_dhcp_server|default(true) %}
config system dhcp server
  {% for i in project.profiles[profile].interfaces if i.role == 'lan' and i.name is defined %}
  {% if i.dhcp_server|default(true) %}
  edit {{ 10 + loop.index0 }}
    set dns-service default
    set default-gateway {{ i.ip|ipaddr('address') }}
    set netmask {{ i.ip|ipaddr('netmask') }}
    set interface {{ i.name }}
    config ip-range
      edit 1
        set start-ip {{ i.ip|ipaddr(4)|ipaddr('address') }}
        set end-ip {{ i.ip|ipaddr(-5)|ipaddr('address') }}
      next
    end
  next
  {% endif %}
  {% endfor %}
end
{% endif %}
