{# 02-Edge-Overlay.j2                                                         #}
{# Release: 7.2                                                               #}
{# Design flavor: "BGP on Loopback" (Multi-VRF)                               #}
{# -------------------------------------------------------------------------- #}
{# Disclaimer: Normally, this file is not supposed to be edited by users.     #}
{# -------------------------------------------------------------------------- #}

{% import 'Project' as project with context %}

{% set pe_vrf = project.regions[region].pe_vrf|default(32) %}

{% for h in project.regions[region].hubs %}
{% set hubloop = loop %}
{% set ol_tunnels = [] %}
{% for i in project.profiles[profile].interfaces if i.role == 'wan' and i.name is defined %}
  {# Track generated tunnels, to handle duplicates by adding extra index as a suffix #}
  {% set ul_name = i.ul_name~"-" if i.ul_name is defined else "" %}
  {% set ol_tun = ul_name~"H"~hubloop.index~"_"~i.ol_type %}
  {% set count = ol_tunnels|select("equalto", ol_tun)|list|count %}
  {# Tunnel name = 'H<hub_number>_<ol_type>' if no duplicates, otherwise 'H<hub_number>_<ol_type>_<index>' #}
  {% set ol_tun_name = ol_tun if not count else ol_tun~'_'~(count+1) %}
  {{ ol_tunnels.append(ol_tun) or "" }}
config vpn ipsec phase1-interface
  edit "{{ ol_tun_name }}"
    set interface "{{ i.name }}"
    set ike-version 2
    {% if project.cert_auth|default(true) %}
    set authmethod signature
    set certificate "{{ project.edge_cert_template|default('Edge') }}"
    {% else %}
    set psksecret {{ project.psk|default('S3cr3t!') }}
    {% endif %}
    set keylife 28800
    set peertype any
    set net-device enable
    set proposal aes256gcm-prfsha256 aes256-sha256
    set idle-timeout enable
    {% if project.intrareg_advpn|default(true) %}
    set auto-discovery-receiver enable
    set add-route disable
    {% else %}
    set auto-discovery-receiver disable    
    set exchange-interface-ip enable
    {% endif %}    
    set encapsulation vpn-id-ipip
    set exchange-ip-addr4 {{ loopback|ipaddr('address') }}
    set network-overlay enable
    set network-id {{ project.hubs[h].overlays[i.ol_type].network_id }}
    set remote-gw {{ project.hubs[h].overlays[i.ol_type].wan_ip }}
    set dpd-retrycount 3
    set dpd-retryinterval 5
    set dpd on-idle
  next
end
config vpn ipsec phase2-interface
  edit "{{ ol_tun_name }}"
    set phase1name "{{ ol_tun_name }}"
    set proposal aes256gcm
    set keepalive enable
    set keylifeseconds 3600
  next
end
config system interface
  edit "{{ ol_tun_name }}"
    set vrf {{ pe_vrf }}
  next
end
{% endfor %}
{% endfor %}
