{# 03-Edge-Routing.j2                                                         #}
{# Release: 7.2                                                               #}
{# Design flavor: "BGP on Loopback" (Multi-VRF)                               #}
{# -------------------------------------------------------------------------- #}
{# Disclaimer: Normally, this file is not supposed to be edited by users.     #}
{# -------------------------------------------------------------------------- #}

{% import 'Project' as project with context %}

{% set pe_vrf = project.regions[region].pe_vrf|default(32) %}
{% set vrf_rt_as = project.vrf_rt_as|default('65000') %}

config router route-map
  {% for i in range(1,3) %}
  edit "H{{loop.index}}_TAG"
    config rule
      edit 1
        set set-tag {{ loop.index }}
      next
    end
  next
  {% endfor %}
  edit "SLA_OK"
    config rule
      edit 1
        set set-community "{{ project.regions[region].as }}:99"
      next
    end
  next
end

config router bgp
  set as {{ project.regions[region].as }}
  set router-id {{ loopback|ipaddr('address') }}
  set keepalive-timer 15
  set holdtime-timer 45
  set ibgp-multipath enable
  set recursive-next-hop enable
  set tag-resolve-mode merge
  config neighbor
    {% for h in project.regions[region].hubs %}
    edit {{ project.hubs[h].lo_bgp }}
      set soft-reconfiguration enable
      set soft-reconfiguration-vpnv4 enable
      set advertisement-interval 1
      set interface "Lo"
      set update-source "Lo"
      set connect-timer 1
      set remote-as {{ project.regions[region].as }}
      set route-map-in "H{{loop.index}}_TAG"
      set route-map-in-vpnv4 "H{{loop.index}}_TAG"
      set route-map-out-vpnv4-preferable "SLA_OK"
    next
    {% endfor %}
  end
  config network
    {% set network_to_advertise = [] %}
    {% for i in project.profiles[profile].interfaces if i.role == 'lan' and i.name is defined and i.advertise|default(true) %}
      {% if not i.ip in network_to_advertise %}
        {{ network_to_advertise.append(i.ip) or "" }}
      {% endif %}
    {% endfor %}

    {% for i in network_to_advertise if i|length %}
      edit {{ loop.index }}
        set prefix {{ i|ipaddr(0) }}
      next
    {% endfor %}
    end
  config vrf
    edit "{{ pe_vrf }}"
      set role pe
    next
    {% for i in project.profiles[profile].interfaces if i.vrf is defined and i.name is defined %}
    edit "{{ i.vrf }}"
      set role "ce"
      set rd "{{ vrf_rt_as }}:{{ i.vrf }}"
      set import-rt "{{ vrf_rt_as }}:{{ i.vrf }}"
      set export-rt "{{ vrf_rt_as }}:{{ i.vrf }}"
    next
    {% endfor %}
  end
end
