{% import 'Project' as project with context %}

{% set pe_vrf = project.regions[region].pe_vrf|default(32) %}

config router route-map
  edit "LOCAL_REGION"
    config rule
      edit 1
        {# Do not advertise to EBGP peers (outside the region #}
        set set-community "no-export"
      next
    end
  next
end
config router bgp
  set as {{ project.regions[region].as }}
  set router-id {{ loopback }}
  set keepalive-timer 15
  set holdtime-timer 45
  set ibgp-multipath enable
  set ebgp-multipath enable
  set recursive-next-hop enable
  config neighbor-group
    edit "EDGE"
      set soft-reconfiguration-vpnv4 enable
      set advertisement-interval 1
      set next-hop-self enable
      set remote-as {{ project.regions[region].as }}
      set interface "Lo"
      set update-source "Lo"
      set route-reflector-client-vpnv4 enable
    next
  end
  config neighbor-range
    edit 1
      set prefix {{ project.lo_summary }}
      set neighbor-group "EDGE"
    next
  end
  config network
    edit 1
      set prefix {{ project.lo_summary }}
      set route-map "LOCAL_REGION"
    next
    {% set network_to_advertise = [] %}
    {% for i in project.profiles[profile].interfaces if i.role == 'lan' and i.advertise|default(true) %}
      {% if not i.ip in network_to_advertise %}
        {{ network_to_advertise.append(i.ip) or "" }}
      {% endif %}
    {% endfor %}

    {% for i in network_to_advertise if i|length %}
      edit {{ loop.index }}
        set prefix {{ i|ipaddr(0) }}
      next
    {% endfor %}
    end
  config vrf
    edit "{{ pe_vrf }}"
      set role pe
    next
    {% for i in project.profiles[profile].interfaces if i.vrf is defined %}
    edit "{{ i.vrf }}"
      set role "ce"
      set rd "{{ project.regions[region].as }}:{{ i.vrf }}"
      set import-rt "{{ project.regions[region].as }}:{{ i.vrf }}"
      set export-rt "{{ project.regions[region].as }}:{{ i.vrf }}"
    next
    {% endfor %}
  end
end

config router policy
  {% for i in project.profiles[profile].interfaces if i.role == 'wan' %}
  edit {{ loop.index }}
    set input-device "EDGE_{{ i.ol_type }}"
    set output-device "EDGE_{{ i.ol_type }}"
    set dst {{ project.lan_summary }}
  next
  {% endfor %}
end

config router static
  edit 101
    set dst {{ project.lan_summary }}
    set blackhole enable
    set vrf "{{ pe_vrf }}"
    set comment "Avoid potential leak of corporate traffic to underlay"
  next
  edit 102
    set dst {{ project.lo_summary }}
    set blackhole enable
    set vrf "{{ pe_vrf }}"
    set comment "Avoid potential recursive resolution of corporate BGP routes via underlay"
  next
end
