{# 04-Hub-MultiRegion.j2                                                      #}
{# Release: 7.2                                                               #}
{# Design flavor: "BGP on Loopback" (Multi-VRF)                               #}
{# -------------------------------------------------------------------------- #}
{# Disclaimer: Normally, this file is not supposed to be edited by users.     #}
{# -------------------------------------------------------------------------- #}

{% import 'Project' as project with context %}

{% set hub2hub_ol = [] %}
{% set pe_vrf = project.regions[region].pe_vrf|default(32) %}

{% if project.regions|count > 1  %}

{% for i in project.profiles[profile].interfaces if i.role == 'wan' and i.name is defined %}
  {% for r in project.regions if r != region %}
    {% for h in project.regions[r].hubs %}
      {% if i.ol_type in project.hubs[h].overlays %}
      config vpn ipsec phase1-interface
        edit "{{ r|upper }}_H{{ loop.index}}_{{ i.ol_type }}"
          set interface "{{ i.name }}"
          set ike-version 2
          {% if project.cert_auth|default(true) %}
          set authmethod signature
          set certificate "{{ project.edge_cert_template|default('Hub') }}"
          {% else %}
          set psksecret {{ project.psk|default('S3cr3t!') }}
          {% endif %}
          set keylife 28800
          set peertype any
          set proposal aes256gcm-prfsha256
          {% if project.multireg_advpn|default(false) %}
          set auto-discovery-sender enable
          set auto-discovery-receiver enable
          set auto-discovery-forwarder enable
          set add-route disable
          {% else %}
          set exchange-interface-ip enable
          {% endif %}
          set remote-gw {{ project.hubs[h].overlays[i.ol_type].wan_ip }}
          set encapsulation vpn-id-ipip
          set exchange-ip-addr4 {{ loopback|ipaddr('address') }}
          set dpd-retrycount 3
          set dpd-retryinterval 5
          set dpd on-idle
        next
      end
      config vpn ipsec phase2-interface
        edit "{{ r|upper }}_H{{ loop.index}}_{{ i.ol_type }}"
          set phase1name "{{ r|upper }}_H{{ loop.index}}_{{ i.ol_type }}"
          set proposal aes256gcm
          set keepalive enable
          set keylifeseconds 3600
        next
      end
      config system interface
        edit "{{ r|upper }}_H{{ loop.index}}_{{ i.ol_type }}"
          set vrf {{ pe_vrf }}
        next
      end
      {% if project.overlay_stickiness|default(true) %}
      config router policy
        edit {{ hub2hub_ol|length * 2 + 11 }}
          set input-device "EDGE_{{ i.ol_type }}"
          set output-device "{{ r|upper }}_H{{ loop.index}}_{{ i.ol_type }}"
          set dst {{ project.lan_summary }}
        next
        edit {{ hub2hub_ol|length * 2 + 12 }}
          set input-device "{{ r|upper }}_H{{ loop.index}}_{{ i.ol_type }}"
          set output-device "EDGE_{{ i.ol_type }}"
          set dst {{ project.lan_summary }}
        next
      end
      {% endif %}
      {{ hub2hub_ol.append(r|upper~'_H'~loop.index~'_'~i.ol_type) or "" }}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endfor %}

{% if project.create_hub2hub_zone|default(true) %}
config system zone
  edit "{{project.hub2hub_zone|default('hub2hub_overlay')}}"
    append interface {{ hub2hub_ol|join(' ') }}
  next
end
{% endif %}

{% if project.multireg_advpn|default(false) %}
{# Advertise loopback summaries between the regions #}
config router access-list
  {# Regional loopback summary #}
  edit "LO_REGIONAL_SUMMARY"
    config rule
      edit 1
        set prefix {{ project.regions[region].lo_summary }}
        set exact-match enable
      next
    end
  next
end
config router route-map
  edit "HUB2HUB_OUT"
    config rule
      edit 1
        {# Do not readvertise regional loopback summary to remote Edges and other regions #}
        set match-ip-address "LO_REGIONAL_SUMMARY"
        set set-community no-advertise
      next
      edit 100
      next
    end
  next
  edit "EDGE_OUT"
    config rule
      edit 1
        {# Do not advertise regional loopback summary to Edges (they already receive global summary) #}
        set match-ip-address "LO_REGIONAL_SUMMARY"
        set action deny
      next
      edit 100
      next
    end
  next
end
config router bgp
  config neighbor-group
    edit "EDGE"
      set route-map-out EDGE_OUT
      {# Preserve next-hop of prefixes coming from remote regions #}
      set attribute-unchanged-vpnv4 next-hop
    next
  end
  config network
    edit 103
      set prefix {{ project.regions[region].lo_summary }}
    next
  end
end
config router static
  edit 103
    set dst {{ project.regions[region].lo_summary }}
    set blackhole enable
    set vrf "{{ pe_vrf }}"
    set comment "Regional loopback summary"
  next
end
{% else %}
{# Advertise regional LAN summaries between the regions #}
config router static
  {% for v in project.regions[region].vrfs %}
  edit {{ 110 + v.id }}
    set dst {{ v.lan_summary }}
    set blackhole enable
    set vrf "{{ v.id }}"
    set comment "Regional LAN summary (VRF={{ v.id }})"
  next
  {% endfor %}
end
config router access-list
  edit "LAN_REGIONAL_SUMMARY"
    config rule
      {% for v in project.regions[region].vrfs %}
      edit {{ v.id }}
        set prefix {{ v.lan_summary }}
        set exact-match enable
      next
      {% endfor %}
    end
  next
end
config router route-map
  edit "HUB2HUB_OUT"
    config rule
      edit 1
        set match-ip-address "LAN_REGIONAL_SUMMARY"
        unset set-community
      next
      edit 1000
        set action deny
      next
    end
  next
end
config router bgp
  config redistribute "static"
    set status enable
    set route-map "HUB2HUB_OUT"
  end
end
{% endif %}

config router bgp
  config neighbor
    {% for r in project.regions if r != region %}
    {% for h in project.regions[r].hubs %}
    edit {{ project.hubs[h].lo_bgp }}
      set ebgp-enforce-multihop enable
      set soft-reconfiguration enable
      set advertisement-interval 1
      set link-down-failover enable
      set interface "Lo"
      set update-source "Lo"
      {% if project.multireg_advpn|default(false) %}
      set attribute-unchanged-vpnv4 next-hop
      set route-map-out "HUB2HUB_OUT"
      {% else %}
      set route-map-out-vpnv4 "HUB2HUB_OUT"
      {% endif %}
      set connect-timer 1
      set remote-as {{ project.regions[r].as }}
    next
    {% endfor %}
    {% endfor %}
  end
end

{% endif %}
