config router community-list
  edit "SLAOK"
    config rule
      edit 1
        set action permit
        set match "{{ globals.as }}:99"
      next
    end
  next
end
config router route-map
  edit "EDGE_IN"
    config rule
      edit 1
        set match-community "SLAOK"
        set set-route-tag 99
      next
      edit 100
      next
    end
  next
end
config router bgp
  config neighbor-group
    edit "EDGE"
      set route-map-in "EDGE_IN"
    next
  end
end

config system sdwan
  set status enable
  config zone
    edit "overlay"
    next
  end
  config members
    edit 1
      set interface EDGE_T1
      set zone "overlay"
    next
    edit 2
      set interface EDGE_T2
      set zone "overlay"
    next
  end
  config service
    edit 1
      set name "T1-SLA-OK"
      set route-tag 99
      set priority-members 1
    next
    edit 2
      set name "T2-SLA-OK"
      set route-tag 99
      set priority-members 2
    next
    # Implicit rule handles the case when both overlays are out of SLA
  end
end
