config router route-map
  edit "T1_OUT_SLAOK"
    # Mark overlay community (T1) + "SLA OK" community
    config rule
      edit 1
        set set-community "{{ globals.as }}:1" "{{ globals.as }}:99"
      next
    end
  next
  edit "T2_OUT_SLAOK"
    # Mark overlay community (T2) + "SLA OK" community
    config rule
      edit 1
        set set-community "{{ globals.as }}:2" "{{ globals.as }}:99"
      next
    end
  next
end
config system sdwan
  config neighbor
    {%- for h in regions[devices[this_dev].region].hubs %}
    edit {{ devices[h].t1_ip.edge }}
      set member {{ loop.index * 2 }}
      set health-check "HUB"
      set sla-id 1
    next
    edit {{ devices[h].t2_ip.edge }}
      set member {{ loop.index * 2 + 1 }}
      set health-check "HUB"
      set sla-id 1
    next
    {%- endfor %}
  end
end
config router bgp
  config neighbor
  {%- for h in regions[devices[this_dev].region].hubs %}
    edit {{ devices[h].t1_ip.edge }}
      set route-map-out-preferable "T1_OUT_SLAOK"
    next
    edit {{ devices[h].t2_ip.edge }}
      set route-map-out-preferable "T2_OUT_SLAOK"
    next
  {%- endfor %}
  end
end
