{# EXAMPLE: Use this file as a Pre-Run CLI Template for FGT-VM Model Devices #}

{# Create physical interface from port1 to port10 #}
config system interface
   {% for i in range(1,11) %}
   edit "port{{i}}"
    set vdom "root"
    set type physical
   next
   {% endfor %}
end

{# Use this for successful onboarding, when your FGT is preconfigured (Low-Touch Provisioning) #}
config system admin
  edit "admin"
    set password fortinet
  next
end
