{% import 'Project' as project with context %}

config system interface
  {% for i in project.profiles[profile].interfaces %}
  edit "{{i.name}}"
    {% if i.ip == 'dhcp' %}
    set mode dhcp
    {%  elif i.ip %}
    set mode static
    set ip {{ i.ip }}
    {% endif %}
    set allowaccess ping
  next
  {% endfor %}
end

{% set lan_intf = [] %}
{% if project.create_lan_zone|default(true) %}
config system zone
  edit "{{ project.lan_zone|default('lan_zone') }}"
    {% for i in project.profiles[profile].interfaces if i.role == 'lan'  %}
    {{  lan_intf.append(i.name) or "" }}
    {% endfor %}
    set interface {{ lan_intf|join(' ') }}
  next
end
{% endif %}

config system global
    set hostname {{ hostname }}
end
