{# This file describes the project: its Regions, Hubs and Device Profiles #}
{# Normally, this is the only file that needs to be edited between different projects #}

{#  Mandatory Global Definitions #}
{% set tunnel_summary = '10.200.0.0/14' %}
{% set lan_summary = '10.0.0.0/8' %}

{# Optional Settings (showing default values) #}
{#
{% set create_hub2hub_zone = true %}
{% set hub2hub_zone = 'hub2hub_overlay' %}
{% set create_lan_zone = true %}
{% set lan_zone = 'lan_zone' %}

{% set multireg_advpn = false %}
{% set hub_cert_template = 'Hub' %}
{% set edge_cert_template = 'Edge' %}
#}

{# Regions #}
{% set regions = {
    'west': {
      'as': '65001',
      'lan_summary': '10.0.0.0/14',
      'hubs': [ 'site1-H1', 'site1-H2' ]
    },
    'east': {
      'as': '65002',
      'lan_summary': '10.4.0.0/14',
      'hubs': [ 'site2-H1' ]
    }
  }
%}

{# Device Profiles #}
{% set profiles = {

    '2wan-site': {
      'interfaces': [
        {
          'name': 'port1',
          'role': 'wan',
          'ol_type': 'ISP1',
          'ip': 'dhcp'
        },
        {
          'name': 'port4',
          'role': 'wan',
          'ol_type': 'MPLS',
          'ip': mpls_wan_ip
        },
        {
          'name': 'port5',
          'role': 'lan',
          'ip': lan_ip
        }
      ]
    },

    '3wan-site': {
      'interfaces': [
        {
          'name': 'port1',
          'role': 'wan',
          'ol_type': 'ISP1',
          'ip': 'dhcp'
        },
        {
          'name': 'port2',
          'role': 'wan',
          'ol_type': 'ISP2',
          'ip': 'dhcp'
        },
        {
          'name': 'port4',
          'role': 'wan',
          'ol_type': 'MPLS',
          'ip': mpls_wan_ip
        },
        {
          'name': 'port5',
          'role': 'lan',
          'ip': lan_ip
        }
      ]
    }

  }
%}

{# Hubs #}
{% set hubs = {

    'site1-H1': {
      'lo_bgp': '10.200.0.1',
      'overlays': {
        'ISP1': {
          'wan_ip': '100.64.1.1',
          'tunnel_net': '10.201.1.0/24',
          'network_id': '11'
        },
        'ISP2': {
          'wan_ip': '100.64.1.9',
          'tunnel_net': '10.202.1.0/24',
          'network_id': '12'
        },
        'MPLS': {
          'wan_ip': '172.16.1.5',
          'tunnel_net': '10.203.1.0/24',
          'network_id': '13'
        }
      }
    },

    'site1-H2': {
      'lo_bgp': '10.200.0.2',
      'overlays': {
        'ISP1': {
          'wan_ip': '100.64.2.1',
          'tunnel_net': '10.201.2.0/24',
          'network_id': '21'
        },
        'ISP2': {
          'wan_ip': '100.64.2.9',
          'tunnel_net': '10.202.2.0/24',
          'network_id': '22'
        },
        'MPLS': {
          'wan_ip': '172.16.2.5',
          'tunnel_net': '10.203.2.0/24',
          'network_id': '23'
        }
      }
    },

    'site2-H1': {
      'lo_bgp': '10.200.0.4',
      'overlays': {
        'ISP1': {
          'wan_ip': '100.64.3.1',
          'tunnel_net': '10.201.4.0/24',
          'network_id': '41'
        },
        'MPLS': {
          'wan_ip': '172.16.3.5',
          'tunnel_net': '10.203.4.0/24',
          'network_id': '43'
        }
      }
    }

  }
%}
