{#                            Project Template                                #}
{# -------------------------------------------------------------------------- #}
{# This file describes the project: its Regions, Hubs and Device Profiles     #}
{# Normally, this is the only file that needs to be edited between            #}
{# different projects                                                         #}
{# -------------------------------------------------------------------------- #}
{# Design flavor: "Dynamic BGP on Loopback"                                   #}
{# Please contact your Fortinet representatives for more details              #}

{#
  Per-device variables used:
  - Required:
    - hostname
    - loopback
    - profile
    - region
    - h1_isp1
    - h1_isp2
    - h1_mpls
  - Depending on topology:
    - isp1_intf
    - isp2_intf
    - mpls_intf
    - lan_intf
    - lan_ip
#}

{# Optional Settings #}
{% set cert_auth = false %}
{% set dynamic_bgp = true %}
{% set pqc = true %}

{#  Mandatory Global Definitions #}
{% set lo_summary = '10.200.0.0/14' %}

{# Regions #}
{% set regions = {
    'SuperWAN': {
      'as': '65001',
      'hubs': [ 'site1-H1' ]
    }    
  }
%}

{# Device Profiles #}
{% set profiles = {

    'JustBranch': {
      'interfaces': [
        {
          'name': isp1_intf,
          'role': 'wan',
          'ol_type': 'ISP1',
          'ip': 'dhcp',
          'dia': true
        },
        {
          'name': isp2_intf,
          'role': 'wan',
          'ol_type': 'ISP2',
          'ip': 'dhcp',
          'dia': true
        },
        {
          'name': mpls_intf,
          'role': 'wan',
          'ol_type': 'MPLS',
          'ip': 'dhcp'
        },
        {
          'name': lan_intf,
          'role': 'lan',
          'ip': lan_ip
        }
      ]
    },

    'Hub': {
      'interfaces': [
        {
          'name': isp1_intf,
          'role': 'wan',
          'ol_type': 'ISP1',
          'ip': 'dhcp',
          'dia': true
        },
        {
          'name': isp2_intf,
          'role': 'wan',
          'ol_type': 'ISP2',
          'ip': 'dhcp',
          'dia': true
        },
        {
          'name': mpls_intf,
          'role': 'wan',
          'ol_type': 'MPLS',
          'ip': 'dhcp'
        },        
        {
          'name': lan_intf,
          'role': 'lan',
          'ip': lan_ip
        }
      ]
    }    

  }
%}

{# Hubs #}
{% set hubs = {

    'site1-H1': {
      'lo_bgp': '10.200.1.253',
      'overlays': {
        'ISP1': {
          'wan_ip': h1_isp1
        },
        'ISP2': {
          'wan_ip': h1_isp2
        },
        'MPLS': {
          'wan_ip': h1_mpls
        }        
      }
    }

  }
%}