config vpn ipsec phase1-interface
  edit "H1_T1"
    set interface {{ globals.wan1_intf }}
    set ike-version 2
    set keylifeseconds 28800
    set peertype any
    set net-device enable
    set mode-cfg enable
    set proposal {{ globals.phase1_proposal }}
    set add-route disable
    set idle-timeout enable
    set auto-discovery-receiver enable
    set network-overlay enable
    set network-id 11
    set remote-gw {{ hubs[regions[edges[e].region].h1].wan1_ip }}
    set psksecret {{ globals.psk }}
    set dpd-retrycount 3
    set dpd-retryinterval 5
  next
  edit "H1_T2"
    set interface {{ globals.wan2_intf }}
    set ike-version 2
    set keylifeseconds 28800
    set peertype any
    set net-device enable
    set mode-cfg enable
    set proposal {{ globals.phase1_proposal }}
    set add-route disable
    set idle-timeout enable
    set auto-discovery-receiver enable
    set network-overlay enable
    set network-id 12
    set remote-gw {{ hubs[regions[edges[e].region].h1].wan2_ip }}
    set psksecret {{ globals.psk }}
    set dpd-retrycount 3
    set dpd-retryinterval 5
  next
  edit "H2_T1"
    set interface {{ globals.wan1_intf }}
    set ike-version 2
    set keylifeseconds 28800
    set peertype any
    set net-device enable
    set mode-cfg enable
    set proposal {{ globals.phase1_proposal }}
    set add-route disable
    set idle-timeout enable
    set auto-discovery-receiver enable
    set network-overlay enable
    set network-id 21
    set remote-gw {{ hubs[regions[edges[e].region].h2].wan1_ip }}
    set psksecret {{ globals.psk }}
    set dpd-retrycount 3
    set dpd-retryinterval 5
  next
  edit "H2_T2"
    set interface {{ globals.wan2_intf }}
    set ike-version 2
    set keylifeseconds 28800
    set peertype any
    set net-device enable
    set mode-cfg enable
    set proposal {{ globals.phase1_proposal }}
    set add-route disable
    set idle-timeout enable
    set auto-discovery-receiver enable
    set network-overlay enable
    set network-id 22
    set remote-gw {{ hubs[regions[edges[e].region].h2].wan2_ip }}
    set psksecret {{ globals.psk }}
    set dpd-retrycount 3
    set dpd-retryinterval 5
  next
end
config vpn ipsec phase2-interface
  edit "H1_T1"
    set phase1name "H1_T1"
    set proposal {{ globals.phase2_proposal }}
    set keepalive enable
    set keylifeseconds 3600
  next
  edit "H1_T2"
    set phase1name "H1_T2"
    set proposal {{ globals.phase2_proposal }}
    set keepalive enable
    set keylifeseconds 3600
  next
  edit "H2_T1"
    set phase1name "H2_T1"
    set proposal {{ globals.phase2_proposal }}
    set keepalive enable
    set keylifeseconds 3600
  next
  edit "H2_T2"
    set phase1name "H2_T2"
    set proposal {{ globals.phase2_proposal }}
    set keepalive enable
    set keylifeseconds 3600
  next
end
config system interface
  edit "H1_T1"
    set vdom "root"
    set allowaccess ping
    set type tunnel
    set interface {{ globals.wan1_intf }}
  next
  edit "H1_T2"
    set vdom "root"
    set allowaccess ping
    set type tunnel
    set interface {{ globals.wan2_intf }}
  next
  edit "H2_T1"
    set vdom "root"
    set allowaccess ping
    set type tunnel
    set interface {{ globals.wan1_intf }}
  next
  edit "H2_T2"
    set vdom "root"
    set allowaccess ping
    set type tunnel
    set interface {{ globals.wan2_intf }}
  next
end
