{% set profile = profiles[devices[this_dev].profile] -%}
config vpn ipsec phase1-interface
{%- for h in regions[devices[this_dev].region].hubs %}
  edit "H{{loop.index}}_T1"
    set interface {{ profile.wan1_intf }}
    set ike-version 2
    set keylifeseconds 28800
    set peertype any
    set net-device enable
    set mode-cfg enable
    set proposal {{ globals.phase1_proposal }}
    set add-route disable
    set idle-timeout enable
    set auto-discovery-receiver enable
    set network-overlay enable
    set network-id {{loop.index}}1
    set remote-gw {{ devices[h].wan1_ip }}
    set psksecret {{ globals.psk }}
    set dpd-retrycount 3
    set dpd-retryinterval 5
  next
  edit "H{{loop.index}}_T2"
    set interface {{ profile.wan2_intf }}
    set ike-version 2
    set keylifeseconds 28800
    set peertype any
    set net-device enable
    set mode-cfg enable
    set proposal {{ globals.phase1_proposal }}
    set add-route disable
    set idle-timeout enable
    set auto-discovery-receiver enable
    set network-overlay enable
    set network-id {{loop.index}}2
    set remote-gw {{ devices[h].wan2_ip }}
    set psksecret {{ globals.psk }}
    set dpd-retrycount 3
    set dpd-retryinterval 5
  next
{%- endfor %}
end
config vpn ipsec phase2-interface
{%- for h in regions[devices[this_dev].region].hubs %}
  edit "H{{loop.index}}_T1"
    set phase1name "H{{loop.index}}_T1"
    set proposal {{ globals.phase2_proposal }}
    set keepalive enable
    set keylifeseconds 3600
  next
  edit "H{{loop.index}}_T2"
    set phase1name "H{{loop.index}}_T2"
    set proposal {{ globals.phase2_proposal }}
    set keepalive enable
    set keylifeseconds 3600
  next
{%- endfor %}
end
config system interface
{%- for h in regions[devices[this_dev].region].hubs %}
  edit "H{{loop.index}}_T1"
    set vdom "root"
    set allowaccess ping
    set type tunnel
    set interface {{ profile.wan1_intf }}
  next
  edit "H{{loop.index}}_T2"
    set vdom "root"
    set allowaccess ping
    set type tunnel
    set interface {{ profile.wan2_intf }}
  next
{%- endfor %}
end
