{% set profile = profiles[devices[this_dev].profile] -%}
config vpn ipsec phase1-interface
{%- for h in regions[devices[this_dev].region].hubs %}
  {%- set hubloop = loop %}
  {%- for w in profile.wan_intf %}
  edit "H{{hubloop.index}}_T{{loop.index}}"
    set interface {{ w }}
    set ike-version 2
    set keylife 28800
    set peertype any
    set net-device enable
    set mode-cfg enable
    set proposal {{ globals.phase1_proposal }}
    set add-route disable
    set idle-timeout enable
    set auto-discovery-receiver enable
    set auto-discovery-shortcuts dependent
    set network-overlay enable
    set network-id {{hubloop.index}}{{loop.index}}
    set remote-gw {{ devices[h].wan_ip[loop.index0] }}
    set psksecret {{ globals.psk }}
    set dpd on-idle
    set dpd-retrycount 3
    set dpd-retryinterval 5
  next
  {%- endfor %}
{%- endfor %}
end
config vpn ipsec phase2-interface
{%- for h in regions[devices[this_dev].region].hubs %}
  {%- set hubloop = loop %}
  {%- for w in profile.wan_intf %}
  edit "H{{hubloop.index}}_T{{loop.index}}"
    set phase1name "H{{hubloop.index}}_T{{loop.index}}"
    set proposal {{ globals.phase2_proposal }}
    set keepalive enable
    set keylifeseconds 3600
  next
  {%- endfor %}
{%- endfor %}
end
config system interface
{%- for h in regions[devices[this_dev].region].hubs %}
  {%- set hubloop = loop %}
  {%- for w in profile.wan_intf %}
  edit "H{{hubloop.index}}_T{{loop.index}}"
    set vdom "root"
    set allowaccess ping
    set type tunnel
    set interface {{ w }}
  next
  {%- endfor %}
{%- endfor %}
end
