{% set profile = profiles[devices[this_dev].profile] -%}
{# Figure out this_dev hub ID -#}
{% set ns = namespace(hub_id = 0) -%}
{% for h in regions[devices[this_dev].region].hubs -%}
  {% set ns.hub_id = loop.index if h == this_dev else ns.hub_id -%}
{% endfor -%}

config vpn ipsec phase1-interface
  # Local Region (Edges)
  {%- for w in profile.wan_intf %}
  edit "EDGE_T{{loop.index}}"
    set type dynamic
    set interface {{ w }}
    set ike-version 2
    set peertype any
    set mode-cfg enable
    set proposal {{ globals.phase1_proposal }}
    set net-device disable
    set tunnel-search nexthop
    set add-route disable
    set auto-discovery-sender enable
    set network-overlay enable
    set network-id {{ ns.hub_id }}{{loop.index}}
    set ipv4-start-ip {{ devices[this_dev].tunnel_mode_cfg[loop.index0].start }}
    set ipv4-end-ip {{ devices[this_dev].tunnel_mode_cfg[loop.index0].end }}
    set ipv4-netmask {{ devices[this_dev].tunnel_mode_cfg[loop.index0].netmask }}
    set psksecret {{ globals.psk }}
    set dpd on-demand
    set dpd-retrycount 3
    set dpd-retryinterval 5
  next
  {%- endfor %}
end
config vpn ipsec phase2-interface
  {%- for w in profile.wan_intf %}
  edit "EDGE_T{{loop.index}}"
    set phase1name "EDGE_T{{loop.index}}"
    set proposal {{ globals.phase2_proposal }}
    set keepalive enable
  next
  {%- endfor %}
end
config system interface
  {%- for w in profile.wan_intf %}
  edit "EDGE_T{{loop.index}}"
    set vdom "root"
    set ip {{ devices[this_dev].tunnel_ip[loop.index0] }} 255.255.255.255
    set allowaccess ping
    set type tunnel
    set remote-ip {{ devices[this_dev].tunnel_remote_ip[loop.index0] }} {{ devices[this_dev].tunnel_mode_cfg[loop.index0].netmask }}
    set interface {{ w }}
  next
  {%- endfor %}
end

{# BEGIN: For multi-regional topology only #}
{% for reg in regions if reg != devices[this_dev].region -%}
# Remote Regional Hubs ({{ reg }})
config vpn ipsec phase1-interface
{%- for h in regions[reg].hubs %}
  {%- set hubloop = loop %}
  {%- for w in profile.wan_intf %}
  edit "{{reg|upper}}_H{{hubloop.index}}_T{{loop.index}}"
    set interface {{ w }}
    set ike-version 2
    set keylife 28800
    set peertype any
    set proposal {{ globals.phase1_proposal }}
    set auto-discovery-sender enable
    set auto-discovery-receiver enable
    set auto-discovery-forwarder enable
    set exchange-ip-addr4 {{ devices[this_dev].lo_bgp[loop.index0] }}
    set net-device disable
    set tunnel-search nexthop
    set add-route disable
    set remote-gw {{ devices[regions[reg].hubs[hubloop.index0]].wan_ip[loop.index0] }}
    set psksecret {{ globals.psk }}
    set dpd on-idle
    set dpd-retrycount 3
    set dpd-retryinterval 5
  next
  {%- endfor %}
{%- endfor %}
end
config vpn ipsec phase2-interface
{%- for h in regions[reg].hubs %}
  {%- set hubloop = loop %}
  {%- for w in profile.wan_intf %}
  edit "{{reg|upper}}_H{{hubloop.index}}_T{{loop.index}}"
    set phase1name "{{reg|upper}}_H{{hubloop.index}}_T{{loop.index}}"
    set proposal {{ globals.phase2_proposal }}
    set keepalive enable
  next
  {%- endfor %}
{%- endfor %}
end
{% endfor -%}
{# END: For multi-regional topology only #}
