{% set profile = profiles[devices[this_dev].profile] -%}
{# Max. number of WAN interfaces * Max. number of Hubs -#}
{% set add_path_num = profiles.values()|map(attribute='wan_intf')|map('count')|max * regions.values()|map(attribute='hubs')|map('count')|max -%}
config router static
  edit 101
    set dst {{ globals.corp_aggregate }}
    set blackhole enable
    set comment "Avoid potential leak of corporate traffic to underlay"
  next
  {%- set ns = namespace(sr_i = 102) %}
  {%- for h in regions[devices[this_dev].region].hubs %}
  {%- set hubloop = loop %}
  {%- for w in profile.wan_intf %}
  edit {{ ns.sr_i }}
    set dst {{ globals.tunnel_subnet_aggregate }}
    set device "H{{hubloop.index}}_T{{loop.index}}"
    set comment "Cross-overlay BGP NH reachability"
  next
  {%- set ns.sr_i = ns.sr_i + 1 %}
  {%- endfor %}
  {%- endfor %}
end

{# BEGIN: For multi-regional topology only #}
{% if regions|reject("==", devices[this_dev].region)|list|count -%}
config router static
  {%- for h in regions[devices[this_dev].region].hubs %}
  {%- set hubloop = loop %}
  {%- for w in profile.wan_intf %}
  edit {{ ns.sr_i }}
    set dst {{ globals.tunnel_subnet[loop.index0] }}
    set device "H{{hubloop.index}}_T{{loop.index}}"
    set comment "Cross-region BGP NH reachability (T{{loop.index}})"
  next
  {%- set ns.sr_i = ns.sr_i + 1 %}
  {%- endfor %}
  {%- endfor %}
end
{% endif %}
{# END: For multi-regional topology only #}

config router bgp
  set as {{ regions[devices[this_dev].region].as }}
  set router-id {{ devices[this_dev].router_id }}
  set keepalive-timer 5
  set holdtime-timer 15
  set ibgp-multipath enable
  set additional-path enable
  # additional-path-select = max. number of overlays * max. number of hubs
  set additional-path-select {{ add_path_num }}
  config neighbor
  {%- for h in regions[devices[this_dev].region].hubs %}
    {%- set hubloop = loop %}
    {%- for w in profile.wan_intf %}
    edit {{ devices[h].tunnel_ip[loop.index0] }}
      set soft-reconfiguration enable
      set advertisement-interval 1
      set link-down-failover enable
      set interface "H{{hubloop.index}}_T{{loop.index}}"
      set connect-timer 1
      set remote-as {{ regions[devices[this_dev].region].as }}
      set additional-path receive
    next
    {%- endfor %}
  {%- endfor %}
  end
  config network
    edit 1
      set prefix {{ devices[this_dev].lan_subnet[0] }}
    next
  end
end
