config router bgp
  set as {{ globals.as }}
  set router-id {{ devices[this_dev].router_id }}
  set keepalive-timer 5
  set holdtime-timer 15
  set ibgp-multipath enable
  set additional-path enable
  # additional-path-select = number of overlays
  set additional-path-select 2
  config neighbor
    # Remote Regional Hubs
    {% for reg in regions if reg != devices[this_dev].region -%}
    edit {{ devices[this_dev].t1_remote_ip[reg] }}
      set soft-reconfiguration enable
      set advertisement-interval 1
      set link-down-failover enable
      set connect-timer 1
      set remote-as {{ globals.as }}
      set additional-path both
      # adv-additional-path = number of overlays
      set adv-additional-path 2
      set route-reflector-client enable
    next
    edit {{ devices[this_dev].t2_remote_ip[reg] }}
      set soft-reconfiguration enable
      set advertisement-interval 1
      set link-down-failover enable
      set connect-timer 1
      set remote-as {{ globals.as }}
      set additional-path both
      # adv-additional-path = number of overlays
      set adv-additional-path 2
      set route-reflector-client enable
    next
    {% endfor -%}
  end
  config neighbor-group
    edit "EDGE"
      set soft-reconfiguration enable
      set advertisement-interval 1
      set link-down-failover enable
      set connect-timer 1
      set remote-as {{ globals.as }}
      set additional-path send
      # adv-additional-path = number of overlays
      set adv-additional-path 2
      set route-reflector-client enable
    next
  end
  config neighbor-range
    edit 1
      set prefix {{ globals.tunnel_subnet_aggregate }}
      set neighbor-group "EDGE"
    next
  end
end
