{% set profile = profiles[devices[this_dev].profile] -%}
{% set ol_tunnels = [ ] -%}
{%- set lo_list = [ ] %}

{%- for w in profile.wan_intf %}
{{- ol_tunnels.append('"EDGE_T' + loop.index|string + '"') or "" }}
{%- endfor %}

{# BEGIN: For multi-regional topology only #}
{% for reg in regions if reg != devices[this_dev].region -%}
{%- for h in regions[reg].hubs %}
{%- set hubloop = loop %}
{%- for w in profile.wan_intf %}
{{- ol_tunnels.append('"' + reg|upper + '_H' + hubloop.index|string + '_T' + loop.index|string + '"') or "" }}
{%- endfor %}
{%- endfor %}
{%- for w in profile.wan_intf %}
{{- lo_list.append("lo-BGP_T"+loop.index|string) or "" }}
{%- endfor %}
{% endfor -%}
{# END: For multi-regional topology only #}

config system settings
  # Allow overlay switchover for existing sessions (from shortcut to Hub)
  set tcp-session-without-syn enable
end
config system zone
  edit "overlay"
    set interface {{ ol_tunnels|join(' ') }}
  next
  edit "underlay"
    set interface {{ profile.dia_intf|join(' ') }}
  next
end
config firewall service custom
  edit "PING"
    set category "Network Services"
    set protocol ICMP
    set icmptype 8
  next
end
config firewall policy
  edit 1
    set name "Edge to Edge"
    set srcintf "overlay"
    set dstintf "overlay"
    set srcaddr "all"
    set dstaddr "all"
    set action accept
    set schedule "always"
    set service "ALL"
    # Allow overlay switchover for existing sessions (from shortcut to Hub)
    set anti-replay disable
    set tcp-session-without-syn all
  next
  edit 2
    set name "HC BGP"
    set srcintf "overlay"
    set dstintf "lo-HC" {{ lo_list|join(' ') }}
    set srcaddr "all"
    set dstaddr "all"
    set action accept
    set schedule "always"
    set service "PING" "BGP"
  next
  edit 3
    set name "Edge to Internet (RIA)"
    set srcintf "overlay"
    set dstintf "underlay"
    set srcaddr "all"
    set dstaddr "all"
    set action accept
    set schedule "always"
    set service "ALL"
    set utm-status enable
    set ssl-ssh-profile certificate-inspection
    set application-list "default"
    set logtraffic all
    set nat enable
  next
end
