{% set profile = profiles[devices[this_dev].profile] -%}
config firewall address
  edit "CORP_LAN"
    set subnet {{ globals.corp_aggregate }}
  next
end
config system interface
  edit "lo-HC"
    set vdom "root"
    set type loopback
    set ip {{ globals.loopback_hc_ip }} 255.255.255.255
    set allowaccess ping
  next
end
config system sdwan
    set status enable
    config zone
      {%- for d in profile.wan_domain|unique %}
      edit "{{ d }}-overlay"
      next
      {%- endfor %}
    end
    config members
      {%- set ns = namespace(mbr_i = 1) %}
      # Local region (EDGE)
      {%- for w in profile.wan_intf %}
      edit {{ ns.mbr_i }}
        set interface "EDGE_T{{loop.index}}"
        set zone "{{ profile.wan_domain[loop.index0] }}-overlay"
      next
      {%- set ns.mbr_i = ns.mbr_i + 1 %}
      {%- endfor %}

      # Remote regions
      {%- for reg in regions if reg != devices[this_dev].region %}
      {%- for h in regions[reg].hubs %}
      {%- set hubloop = loop %}
      {%- for w in profile.wan_intf %}
      edit {{ ns.mbr_i }}
        set interface "{{reg|upper}}_H{{hubloop.index}}_T{{loop.index}}"
        set zone "{{ profile.wan_domain[loop.index0] }}-overlay"
      next
      {%- set ns.mbr_i = ns.mbr_i + 1 %}
      {%- endfor %}
      {%- endfor %}
      {%- endfor %}
    end
    config service
      {%- for d in profile.wan_domain|unique %}
      edit {{ loop.index }}
        set input-zone "{{ d }}-overlay"
        set dst "CORP_LAN"
        set priority-zone "{{ d }}-overlay"
        set tie-break input-device
      next
      {%- endfor %}
  end
end
