config firewall policy
  edit 1
    set name "Permit-ANY"
    set srcintf any
    set dstintf any
    set srcaddr all
    set dstaddr all
    set action accept
    set schedule "always"
    set service "ALL"
  next
end
