{# 03-Edge-Routing.j2                                                         #}
{# Release: 7.2                                                               #}
{# Design flavor: "BGP on Loopback"                                           #}
{# -------------------------------------------------------------------------- #}
{# Disclaimer: Normally, this file is not supposed to be edited by users.     #}
{# -------------------------------------------------------------------------- #}

{% import 'Project' as project with context %}

config router route-map
  {% for i in range(1,3) %}
  edit "H{{loop.index}}_TAG"
    config rule
      edit 1
        set set-tag {{ loop.index }}
      next
    end
  next
  {% endfor %}
  edit "SLA_OK"
    config rule
      edit 1
        set set-community "{{ project.regions[region].as }}:99"
      next
    end
  next
end

config router bgp
  set as {{ project.regions[region].as }}
  set router-id {{ loopback|ipaddr('address') }}
  set keepalive-timer 15
  set holdtime-timer 45
  set ibgp-multipath enable
  set recursive-next-hop enable
  set tag-resolve-mode merge
  config neighbor
    {% for h in project.regions[region].hubs %}
    edit {{ project.hubs[h].lo_bgp }}
      set soft-reconfiguration enable
      set advertisement-interval 1
      set interface "Lo"
      set update-source "Lo"
      set connect-timer 1
      set remote-as {{ project.regions[region].as }}
      set route-map-in "H{{loop.index}}_TAG"
      set route-map-out-preferable "SLA_OK" 
    next
    {% endfor %}
  end
  config network
    {% for i in project.profiles[profile].interfaces if i.role == 'lan' and i.name is defined and i.advertise|default(true) %}
    edit {{ loop.index }}
      set prefix {{ i.ip|ipaddr(0) }}
    next
    {% endfor %}
  end
end
