{# 03-Hub-Routing.j2                                                          #}
{# Release: 7.2                                                               #}
{# Design flavor: "BGP on Loopback"                                           #}
{# -------------------------------------------------------------------------- #}
{# Disclaimer: Normally, this file is not supposed to be edited by users.     #}
{# -------------------------------------------------------------------------- #}

{% import 'Project' as project with context %}

config router community-list
  edit "SLA_OK"
    config rule
      edit 1
        set action permit
        set match "{{ project.regions[region].as }}:99"
      next
    end
  next
end
config router route-map
  edit "LOCAL_REGION"
    config rule
      edit 1
        {# Do not advertise to EBGP peers (outside the region #}
        set set-community "no-export"
      next
    end
  next
end
config router bgp
  set as {{ project.regions[region].as }}
  set router-id {{ loopback|ipaddr('address') }}
  set keepalive-timer 15
  set holdtime-timer 45
  set ibgp-multipath enable
  set ebgp-multipath enable
  set recursive-next-hop enable
  set recursive-inherit-priority enable
  config neighbor-group
    edit "EDGE"
      set soft-reconfiguration enable
      set advertisement-interval 1
      set next-hop-self enable
      set remote-as {{ project.regions[region].as }}
      set interface "Lo"
      set update-source "Lo"
      {% if project.intrareg_advpn|default(true) %}
      set route-reflector-client enable
      {% else %}
      set route-reflector-client disable
      {% endif %}
    next
  end
  config neighbor-range
    edit 1
      set prefix {{ project.lo_summary }}
      set neighbor-group "EDGE"
    next
  end
  config network
    edit 1
      set prefix {{ project.lo_summary }}
      set route-map "LOCAL_REGION"
    next
    {% for i in project.profiles[profile].interfaces if i.role == 'lan' and i.name is defined and i.advertise|default(true) %}
    edit {{ loop.index + 1 }}
      set prefix {{ i.ip|ipaddr(0) }}
    next
    {% endfor %}
  end
end

{% if project.overlay_stickiness|default(true) %}
config router policy
  {% for i in project.profiles[profile].interfaces if i.role == 'wan' and i.name is defined %}
  edit {{ loop.index }}
    set input-device "EDGE_{{ i.ol_type }}"
    set output-device "EDGE_{{ i.ol_type }}"
    set dst {{ project.lan_summary }}
  next
  {% endfor %}
end
{% endif %}

config router static
  edit 101
    set dst {{ project.lan_summary }}
    set blackhole enable
    set vrf 0
    set comment "Avoid potential leak of corporate traffic to underlay"
  next
  edit 102
    set dst {{ project.lo_summary }}
    set blackhole enable
    set vrf 0
    set comment "Avoid potential recursive resolution of corporate BGP routes via underlay"
  next
end
