{# optional/05-Hub-SDWAN.j2                                                   #}
{# Release: 7.2                                                               #}
{# Design flavor: "BGP on Loopback" (Multi-VRF)                               #}
{# -------------------------------------------------------------------------- #}
{# Disclaimer: Normally, this file is not supposed to be edited by users.     #}
{# -------------------------------------------------------------------------- #}

{% import 'Project' as project with context %}

{% set hub_sla_members = [ ] %}
config system sdwan
  set status enable
  config zone
    edit "underlay"
    next
    edit "overlay"
    next
  end
  config members
    {% set ns = namespace(mbr_i = 1) %}
    {% for i in project.profiles[profile].interfaces if i.role == 'wan' and i.name is defined and i.dia|default(false) %}
    edit {{ ns.mbr_i }}
      set interface "{{ i.name }}"
      set zone "underlay"
      # Gateway is fetched from DHCP
    next
    {% set ns.mbr_i = ns.mbr_i + 1 %}
    {% endfor %}
    {% for i in project.profiles[profile].interfaces if i.role == 'wan' and i.name is defined %}
    edit {{ ns.mbr_i }}
      set interface "EDGE_{{ i.ol_type }}"
      set zone "overlay"
    next
    {{ hub_sla_members.append(ns.mbr_i) or "" }}
    {% set ns.mbr_i = ns.mbr_i + 1 %}
    {% endfor %}
  end
  config health-check
    edit "EDGE"
      set detect-mode remote
      set members {{ hub_sla_members|join(' ') }}
      set sla-id-redistribute 1
      config sla
        edit 1
          set link-cost-factor latency
          set latency-threshold 100
          set priority-in-sla 5
          set priority-out-sla 8
        next
      end
    next
  end
end
config router static
  edit 100
    # Default route
    set sdwan-zone "underlay"
  next
end
