{# optional/05-Edge-SDWAN.j2                                                  #}
{# Release: 7.2                                                               #}
{# Design flavor: "BGP on Loopback"                                           #}
{# -------------------------------------------------------------------------- #}
{# Disclaimer: Normally, this file is not supposed to be edited by users.     #}
{# -------------------------------------------------------------------------- #}

{% import 'Project' as project with context %}

{% set hub_sla_members = [ ] %}
{% set hub_rule_members = [ ] %}
{% set dia_members = [ ] %}
config firewall address
  edit "CORP_LAN"
    set subnet {{ project.lan_summary }}
  next
end
config system sdwan
  set status enable
  config zone
    edit "underlay"
    next
    edit "overlay"
    next
  end
  config members
  {% set ns = namespace(mbr_i = 1) %}
  {% for i in project.profiles[profile].interfaces if i.role == 'wan' and i.name is defined and i.dia|default(false) %}
    edit {{ ns.mbr_i }}
      set interface "{{ i.name }}"
      set zone "underlay"
      # Best priority, used for Internet access in implicit rule / local-out
      # Gateway is fetched from DHCP
    next
    {{ dia_members.append(ns.mbr_i) or "" }}
    {% set ns.mbr_i = ns.mbr_i + 1 %}
  {% endfor %}
  {% for h in project.regions[region].hubs %}
  {% set hubloop = loop %}
  {% set this_hub_members = [] %}
  {% set ol_tunnels = [] %}
  {% for i in project.profiles[profile].interfaces if i.role == 'wan' and i.name is defined %}
    {# Track generated tunnels, to handle duplicates by adding extra index as a suffix #}
    {% set ul_name = i.ul_name~"-" if i.ul_name is defined else "" %}
    {% set ol_tun = ul_name~"H"~hubloop.index~"_"~i.ol_type %}
    {% set count = ol_tunnels|select("equalto", ol_tun)|list|count %}
    {# Tunnel name = 'H<hub_number>_<ol_type>' if no duplicates, otherwise 'H<hub_number>_<ol_type>_<index>' #}
    {% set ol_tun_name = ol_tun if not count else ol_tun~'_'~(count+1) %}
    {{ ol_tunnels.append(ol_tun) or "" }}
    edit {{ ns.mbr_i }}
      set interface "{{ ol_tun_name }}"
      set priority 10
      set source {{ loopback|ipaddr('address') }}
      set zone "overlay"
    next
    {{ hub_sla_members.append(ns.mbr_i) or "" }}
    {{ this_hub_members.append(ns.mbr_i) or "" }}
    {% set ns.mbr_i = ns.mbr_i + 1 %}
  {% endfor %}
  {{ hub_rule_members.append(this_hub_members) or "" }}
  {% endfor %}
  end
  config health-check
    edit "HUB"
      set server {{ project.hub_hc_server|default('10.200.99.1') }}
      set sla-fail-log-period 10
      set sla-pass-log-period 10
      set embed-measured-health enable
      set members {{ hub_sla_members|join(' ') }}
      config sla
        edit 1
          set link-cost-factor latency
          set latency-threshold 100
        next
      end
    next
    edit "Internet"
      set server "www.fortinet.com"
      set sla-fail-log-period 10
      set sla-pass-log-period 10
      set members {{ dia_members|join(' ') }}
    next
  end
  config neighbor
  {% for h in project.regions[region].hubs %}
    edit {{ project.hubs[h].lo_bgp }}
      set member {{ hub_rule_members[loop.index0]|join(' ') }}
      set health-check "HUB"
      set sla-id 1
      set minimum-sla-meet-members 1
    next
  {% endfor %}
  end
  config service
  {% for h in project.regions[region].hubs %}
    edit {{loop.index}}
      set name "Corporate-H{{loop.index}}"
      set mode sla
      set dst "CORP_LAN"
      set src "CORP_LAN"
      set hold-down-time 20
      set tie-break fib-best-match
      config sla
        edit "HUB"
          set id 1
        next
      end
      # Using Hub {{h}}
      set priority-members {{ hub_rule_members[loop.index0]|join(' ') }}
    next
  {% endfor %}
    edit 10
      set name "Local-Breakout"
      set mode priority
      set dst "all"
      set health-check Internet
      # Using best underlay (DIA) link
      set priority-members {{ dia_members|join(' ') }}
    next
  end
end

config router static
  edit 100
    # Default route
    set sdwan-zone "underlay" "overlay"
  next
end
