{# optional/06-Hub-Firewall.j2                                                #}
{# Release: 7.2                                                               #}
{# Design flavor: "BGP on Loopback"                                           #}
{# -------------------------------------------------------------------------- #}
{# Disclaimer: Normally, this file is not supposed to be edited by users.     #}
{# -------------------------------------------------------------------------- #}

{% import 'Project' as project with context %}

{% set ol_zones = ['overlay'] %}
{% if project.regions|reject("==", region)|list|count %}
{{ ol_zones.append('hub2hub_overlay') or "" }}
{% endif %}
config firewall address
  edit "CORP_LAN"
    set subnet {{ project.lan_summary }}
  next
end
config firewall policy
  edit 1
    set name "Edge-Edge"
    set srcintf {{ ol_zones|join(' ') }}
    set dstintf {{ ol_zones|join(' ') }}
    set srcaddr "CORP_LAN"
    set dstaddr "CORP_LAN"
    set action accept
    set schedule "always"
    set service "ALL"
    # Allow overlay switchover for existing sessions (from shortcut to Hub)
    set anti-replay disable
    set tcp-session-without-syn all
  next
  edit 2
    set name "Edge-Hub"
    set srcintf {{ project.lan_zone|default('lan_zone') }} {{ ol_zones|join(' ') }}
    set dstintf {{ project.lan_zone|default('lan_zone') }} {{ ol_zones|join(' ') }}
    set srcaddr "CORP_LAN"
    set dstaddr "CORP_LAN"
    set action accept
    set schedule "always"
    set service "ALL"
  next
  edit 3
    set name "Internet (DIA)"
    set srcintf {{ project.lan_zone|default('lan_zone') }}
    set dstintf "underlay"
    set srcaddr "all"
    set dstaddr "all"
    set action accept
    set schedule "always"
    set service "ALL"
    set utm-status enable
    set ssl-ssh-profile certificate-inspection
    set application-list "default"
    set logtraffic all
    set nat enable
  next
  edit 4
    set name "Internet (RIA)"
    set srcintf "overlay"
    set dstintf "underlay"
    set srcaddr "all"
    set dstaddr "all"
    set action accept
    set schedule "always"
    set service "ALL"
    set utm-status enable
    set ssl-ssh-profile certificate-inspection
    set application-list "default"
    set logtraffic all
    set nat enable
  next
  edit 5
    set name "Health-Check"
    set srcintf "overlay"
    set dstintf "Lo-HC"
    set srcaddr "all"
    set dstaddr "all"
    set action accept
    set schedule "always"
    set service "PING"
  next
  edit 6
    set name "Peering"
    set srcintf {{ ol_zones|join(' ') }}
    set dstintf "Lo"
    set srcaddr "all"
    set dstaddr "all"
    set action accept
    set schedule "always"
    set service "PING" "BGP"
  next
end
